/* =============================
   Reset & Base Styles
============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;

}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

ul {
  list-style: none;
}

input{
  border: none;
  outline: none;
  border: 1px solid #DADADA;
  border-radius: 20px;
  padding: 10px 15px;
}
label{
  font-size: 14px;
  display: block; 
  margin-bottom: 5px;
}
/* =============================
   Navbar
============================= */


nav .Links{
  bottom: -441px;
  left: 0; 
}

nav .settings {
  border-left: 1px solid #000;
}

nav .settings p {
  padding: 0 10px;
}

/* =============================
   Header
============================= */
header {
  background: linear-gradient(135deg, #6D6C6D, #242425);
  padding-top: 100px;
}
header > div:first-child{
    border-bottom: 1px solid #A3A3A3;
}
/* =============================
   courses section
============================= */
#courses{
    border-bottom: 1px solid #DADADA;
}
#courses > div{
    border: 1px solid #DADADA;
}
/* =============================
   Background Utilities
============================= */
.bg-orange{
    background-color: #FFA000;
}
.bg-fp-black{
  background-color: #252425;
}
.bg-white {
  background-color: white;
}
/* =============================
   Border Utilities
============================= */
.border-dark-gray-b { border-bottom: 1px solid #373737; }

/* =============================
   Typography Utilities
============================= */
.text-12 {font-size: 12px; }
.text-14 { font-size: 14px; }
.text-26 { font-size: 26px; }
.text-50 { font-size: 50px; }
.text-center {text-align: center;}
.text-fp-black {color: #252425;}
.text-dark-gray {color: #373737;}
.text-white { color: #fff; }
.text-orange {color: #FF6000;}
.font-regular { font-weight: 400; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }

/* =============================
   Spacing Utilities
============================= */
/* Padding */
.px-10 { padding-left: 10px; padding-right: 10px; }
.px-60 { padding-left: 60px; padding-right: 60px; }
.py-50 { padding-top: 50px; padding-bottom: 50px; }
.py-25 { padding-top: 25px; padding-bottom: 25px; }
.pe-50 { padding-right: 50px; }
.pt-20 { padding-top: 20px; }
.pb-30 { padding-bottom: 30px; }
.pb-50 { padding-bottom: 50px; }
.py-40 { padding-top: 40px; padding-bottom: 40px; }
/* Margin */
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mt-10 { margin-top: 10px; }
.mt-40 { margin-top: 40px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.me-10 {margin-right: 10px;}
.me-30 {margin-right: 30px;}
.ms-10 {margin-left: 10px;}
.ms-auto { margin-left: auto !important ;}
.mx-auto {margin: auto;}
/* =============================
   Layout Utilities
============================= */
.d-flex {
  display: flex;
}
.algin-center{ align-items: center;}
.algin-end{ align-items: end;}
.algin-slef { align-self: flex-end; }
.justify-between { justify-content: space-between; }
.flex-wrap { flex-wrap: wrap; }
.flex-column {flex-direction: column;}
.d-block { display: block; }
.d-none { display: none; }
.d-inline { display: inline; }
.gap-10 { gap: 10px; }
.gap-20 { gap: 20px; }
.gap-35 { gap: 35px; }

/* =============================
   Shadow Utilities
============================= */
.shadow-xl { box-shadow: 23px 23px 58px -11px rgba(0,0,0,0.75);}
.shadow-md {box-shadow: 0px 1px 5px -7px rgba(0,0,0,0.75);}
/* =============================
   Sizing Utilities
============================= */
.w-150 { width: 150px; }
.w-half { width: 50%; }
.w-8-10 { width: 80%; }
.w-full { width: 100%; }
.w-36 {width: 36px;}
.w-fit { width: fit-content; }
.h-80 { height: 80px; }
.h-4 { height: 4px; }
/* =============================
   positions Utilities
============================= */
.fixed-top {position: fixed; top: 0; left: 0; right: 0;}
.absolute {position: absolute;}

/* =============================
   Components
============================= */
.btn-orange {
  border: none;
  outline: none;
  background: linear-gradient(135deg, #FFA000, #FF6000);
  color: #fff;
}

.cursor-pointer { cursor: pointer; }

/* =============================
   Media Queries
============================= */
/* sm */
@media (min-width: 640px) {
    
}

/* md */
@media (min-width: 768px) {
  .ps-md-50{
    padding-left: 50px;
  }
    .w-md-1-4{
    width: 25%;
  }
   .w-md-1-3{
    width: 32%;
  }
  .w-md-half{
    width: 48%;
  }
  .border-md-dark-gray-e {border-right: 1px solid #373737;}
}

/* lg */
@media (min-width: 1024px) {
  .px-lg-30 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .w-lg-1-4{
    width: 25%;
  }
  .w-lg-3-4{
    width: 75%;
  }
  .w-lg-1-2{
    width: 46%;
  }
  .w-lg-1-3{
    width: 30%;
  }
  .w-lg-1-6{
    width: 15%;
  }
  .gap-lg-45 { gap: 45px; }
}

/* xl */
@media (min-width: 1280px) {
  .px-xl-50 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .d-xl-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-row-xl{ flex-direction: row; }
  .d-xl-none { display: none; }
  .w-xl-1-3{width: 32%;}
  .static-xl {position: static;}
  .w-fit-xl {width: auto;}
  .w-xl-150 {width: 150px;}
}
 
/* 2xl */
@media (min-width: 1536px) {
  .px-150 {
    padding-left: 150px;
    padding-right: 150px;
  }
  .px-250 {
    padding-left: 250px;
    padding-right: 250px;
  }
  w-1-4{
    width: 25%;
  }
}
